html{
    font-family: cursive;
}

.event{
    display: flex;
}

b{
    font-size: 40px;
}

p{
    font-size: large;
}

.tab{
    display: inline-block;
    margin-left: 36%;
}

.tab1{
    display: inline-block;
    margin-left: 26%;
}